
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #C5DA99 url(../images/img01.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #787878;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Abel', sans-serif;
	color: #3DA29B;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #5E5E5E;
}

a:hover {
}

textarea {
	width: 98%;
}

#wrapper {
	padding-top: 50px;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 140px;
}

#header {
	width: 900px;
	height: 100px;
	margin: 0 auto;
	padding: 0px 50px;
	background: url(../images/img02.jpg) repeat;
}

/* Logo */

#logo {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

#logo h1, #logo p {
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -2px;
	font-size: 3.8em;
}

#logo h1 a {
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #8E8E8E;
}

#logo p a {
	color: #8E8E8E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Splash */

#splash {
	width: 960px;
	height: 300px;
	margin: 0px auto;
}

/* Menu */

#menu {
	float: right;
	width: 500px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	line-height: 100px;
	margin-right: 1px;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding: 30px 50px;
	background: #FFFFFF;
}

/* Content */

#content {
	padding: 30px 0 0 0;
	width: 680px;
	float: left;
}

#alert {
	margin:5px 0; padding:10px 10px 10px 50px; border-width:1px; border-style:solid;;
}

#alert.error {
	border-color:#f0baa2; background:#ffd9c8 url(../images/alert.png) no-repeat 20px 45%;
}

#alert.success {
	border-color:#d4ebaf; background:#edfcd5 url(../images/tick.png) no-repeat 20px 45%;
}

#alert.normal {
	border-color:#ccc; background:#eee; padding:9px 15px; color: #999999;
}

.post {
	overflow: hidden;
}

.post+.post {
	padding-top: 30px;
	border-top: 1px solid #E7EBED;
}	

.post .title {
	height: 41px;
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	color: inherit;
}

.post .title a:hover {
	color: #3A4648;
}

.post .meta {
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 20px 0px 25px 0px;
	text-align: justify;
}

.post .entry input {
	margin: 10px 0;
}

.links {
	padding-top: 20px;
	font-weight: bold;
	margin-bottom: 1em;
	overflow: hidden;
}

.links span {
	color: #3DA29B;
	float:left;
	padding-right: 30px;
}

.links span a {	
	color: #3DA29B;
}

.links span:hover, .links span a:hover {
	color: #5E5E5E;
}

.link_bt input, .link_bt form {
	margin: 0px !important;
	border: 0px !important;
	padding: 0px !important;
	background: transparent;
	font-weight: inherit;
	font-size: inherit;
	display:inline;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
}

textarea, input, select {
	border: 1px solid  #BBBBBB;
	border-radius: 5px;
	padding: 5px;
	margin: 7px 0;
	color: inherit;
}

.login_links {
	padding-top: 20px;
	margin-bottom: 1em;
	overflow: hidden;
}

.login_links a {	
	color: #3DA29B;
}

.login_links a:hover {
	color: #5E5E5E;
}

#comments ul {
	margin: 10px 0;
	padding: 0px;
}

#comments ul li {
	border-radius: 2px;
	list-style:none;
	padding: 15px;
	border: 1px solid #EBEBEB;
	background: #FAFAFA;
}

#comments ul li+li {
	margin-top: 10px;
}

#comments .comment .meta {
	overflow:hidden;
	margin-bottom: 15px;
	border-bottom: 1px solid #EBEBEB;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	padding-bottom: 3px;
}

#comments .comment .link_bt {
	color:#3DA29B;
}

#comments .comment .link_bt:hover {
	color:#5E5E5E;
}

#comments .comment .meta .date {
	float: left;
}

#comments .comment .meta .posted {
	float: right;
}

#comments .comment .text {
	font-size: 13px;
}

.post_row {
	border-radius: 2px;
	padding: 8px 15px 4px 15px;
	border: 1px solid #EBEBEB;
	background: #FAFAFA;
	margin: 15px 0;
	overflow: hidden;
}

.post_row .title {
	font-size: 1.5em;
	letter-spacing: -1px;
	border-bottom: 1px solid #EBEBEB;
	padding-bottom: 5px;
}

.post_row .title a {
	border: none;
	color: inherit;
}

.post_row .title a:hover {
	color: #3A4648;
}

.post_row .meta {
	margin-bottom: 30px;
	padding: 5px 0px 0px 0px;
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.post_row .meta .info {
	float: right;
	height: 28px;
	line-height: 28px;
}

.post_row .meta .options {
	float: left;
	margin: 0px;
	padding: 0px;
	color: #3DA29B;
}

.post_row .meta .options li {
	list-style:none;
	display: inline-block;
	margin-right: 20px;
}

.post_row .meta .options li a {
	color: #3DA29B;
}

.post_row .meta .options li a:hover, post_row .meta .options li:hover {
	color: #5E5E5E;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 200px;
	margin: 0px;
	padding: 30px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px solid #E7EBED;
	margin: 0px 0px 0px 30px;
	padding-left: 15px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #616D79;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover, #sidebar input:hover {
	text-decoration: underline;
}

.paginator {
	clear: both;
	overflow: hidden;
	width: 680px;
	margin-bottom: 10px;
}

.paginator .prev_pag {
	float: left;
	font-weight: bold;
}

.paginator .next_pag {
	float: right;
	font-weight:bold;
}

.paginator .disabled {
	color: #BBB;
	cursor: default;
}

#page

/* Three Column Footer Content */

#footer-content {
	color: #D6E2F0;
}

#footer-content a {
	color: #92A9B6;
}

#footer-bg {
	overflow: hidden;
	width: 890px;
	padding: 30px 55px 50px 55px;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 26px;
	color: #FFFFFF;
}

#footer-content ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

#footer-content a {
}

#column1 {
	float: left;
	width: 290px;
	margin-right: 30px;
}

#column2 {
	float: left;
	width: 280px;
}

#column3 {
	float: right;
	width: 260px;
}

/* Footer */

#footer {
	margin: 0px auto 30px auto;
	font-family: 'Abel', sans-serif;
}

#footer p {
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #527800;
}

#footer a {
	color: #527800;
}

#marketing {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 20px 0px 10px 0px;
	border-top: 1px solid #E7EBED;
	border-bottom: 1px solid #E7EBED;
}

#marketing .text1 {
	float: left;
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 34px;
	color: #345E9B;
}

#marketing .text2 {
	float: right;
}

#marketing .text2 a {
	display: block;
	width: 252px;
	height: 38px;
	padding: 15px 0px 0px 0px;
	background: url(../images/img07.jpg) no-repeat left top;
	letter-spacing: -2px;
	text-align: center;
	text-transform: lowercase;
	font-size: 30px;
	color: #FFFFFF;
}
